<footer class="page-footer green darken-2">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">CrowdSourcerApp</h5>
               <p class="grey-text text-lighten-4">An exploration into real-time apps using web sockets.</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Directory</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2016 - Just kidding - there's no copyright.
           </div>
         </div>
       </footer>
