<nav>
   <div class="nav-wrapper green darken-2">
     <a href="/" class="brand-logo center">CrowdSourcer</a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><a href="/">Home</a></li>
     </ul>
   </div>
 </nav>
