<table class="striped centered">
              <thead>
                <tr>
                    <th>Choice</th>
                    <th>Count</th>
                </tr>
              </thead>
              <tbody>
                <% var i = 1 %>
                <% for (var choice in poll.choices) {%>
                  <% if (poll.choices.hasOwnProperty(choice)) {%>
                    <tr>
                      <td><%= choice %></td>
                      <td id="<%= poll.id %>-<%= i %>"><%= poll.choices[choice] %></td>
                    <% i++ %>
                  <% } %>
                <% } %>
                    </tr>
              </tbody>
            </table>
