<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<header>
  <% include ../partials/header %>
</header>

<main>
    <body class="center">
      <h5>Admin Poll Page</h5>
      <% if (poll.title) { %>
        <h3>Poll Title: <%= poll.title %></h3>
      <% } %>
      <% if (poll.question) { %>
        <h4>Question: <%= poll.question %></h4>
      <% } %>
      <br>
      <h5>Poll Results:</h5>
      <div class="container centered center align-center">
        <% include ../partials/poll-results %>
      </div>
        <br>
      <div id="admin-closing">

        <% if (poll.fullExpiration) { %>
          <h5>Expiration: <%= poll.fullExpiration %></h5>
        <% } %>
        <br>

        <% if (poll.isActive) { %>
          <button type="button" name="end-poll" id="end-poll" class="btn red darken-2">End Poll</button>
        <% } else { %>
          <h3>This poll has been closed.</h3>
        <% } %>

    </div>
      <br><br>
      <% include ../partials/scripts %>
    </body>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>


</html>
