<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<header>
  <% include ../partials/header %>
</header>

<main>
    <body class="center">
      <h1>Admin Poll Page</h1>
    </body>
    <footer>
      <!-- <% include ../partials/footer %> -->
    </footer>
  </main>


</html>
