<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<header>
  <% include ../partials/header %>
</header>

<main>
    <body class="center">
      <h1>Create a Poll</h1>
    
      <div class="container">
          <div class="row">
        <form action="/polls" method="POST" name="poll" class="col s6 offset-s3">
          <div class="row">
            <div class="input-field col s12">
              <input name="poll[title]" id="poll-title" type="text">
              <label for="poll[title]">Poll title</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="poll[question]" id="question" type="text" >
              <label for="poll[question]">Poll Question</label>
            </div>
          </div>
          <div class="responses">
          <div class="row">
            <div class="input-field col s12">
              <input name="poll[responses][]" id="choice1" type="text" >
              <label for="poll[responses][]">Choice 1</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="poll[responses][]" id="choice2" type="text">
              <label for="poll[responses][]">Choice 2</label>
            </div>
          </div>
        </div>
        <button type="button" name="add-choice" onClick="addItem()" class="btn-floating btn-small waves-effect waves-light green">
          +
        </button>
        <br>
            <div class="row">
                <input type="date" name="poll[expiration]" class="datepicker">
                <label for="poll[expiration]">Expires on (optional)</label>
            </div>
            <br>
            <div class="row">
            <div class="switch">
              <label for="poll[isPrivate]">Should the results of this poll be hidden from users?</label><br>
              <label>
                No
                <input type="checkbox" name="poll[isPrivate]" id="lever" value="true">
                <span class="lever"></span>
                Yes
              </label>
            </div>
          </div>
          <br>
          <button class="btn waves-effect waves-light" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <% include ../partials/scripts %>
    </body>
    <br><br>
  </main>
  <footer>
    <% include ../partials/footer %>
    <script type="text/javascript">
    var i = 3
      function addItem(){
        $('.responses').append(
          `<div class="row">
            <div class="input-field col s12">
              <input name="poll[responses][]" id="choice${i}" type="text">
              <label for="poll[responses][]">Choice ${i}</label>
            </div>
          </div>`
        )
        i++
        console.log(i)
      }
    </script>
  </footer>


</html>
