<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<header>
  <% include ../partials/header %>
</header>

<main>
    <body class="center">
      <h3>Vote Now!</h3>

      <h4>Poll Title: <%= poll.title %></h4>
      <h5>Question: <%= poll.question %></h5>

      <h5>Choices:</h5>

      <div id="choices">
        <% for (var choice in poll.choices) {%>
          <% if (poll.choices.hasOwnProperty(choice)) {%>
            <button type="button" name="button" class="btn btn-large waves-effect waves-light">
              <%= choice %>
            </button>
          <% } %>
        <% } %>
      </div>

      <div id="vote-count">

      </div>

      <% if (!poll.isPrivate) {%>
        <div class="container">
          <% include ../partials/poll-results %>
        </div>
      <% } %>
      <% include ../partials/scripts %>
    </body>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>


</html>
