<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<header>
  <% include ../partials/header %>
</header>

<main>
    <body class="center">
      <h3>Vote Now!</h3>

      <h4>Poll Title: <%= poll.title %></h4>
      <h5>Question: <%= poll.question %></h5>

    <div class="container">
      <% if (!poll.isPrivate) {%>
        <% include ../partials/poll-results %>
      <% } %>
    </div>
    </body>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>


</html>
